extends layout

block content
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Red de bicicletas
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#map') Map
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/bicicletas') Bicicletas
  header.bg-primary.text-white
    .container.text-center
      h1 Red de bicicletas
      p.lead La primera comunidad online de ciclistas urbanos
  section#map
    .container
      #mapid
  // Footer
  footer.py-5.bg-dark
    .container
      p.m-0.text-center.text-white Copyright &copy; Your Website 2020
    // /.container
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  // Custom JavaScript for this theme
  script(src='/javascripts/scrolling-nav.js')
  script(src='/javascripts/map.js')
