extends ../layout

block content
    a(href='/usuarios') Volver

    br
    br
    br

    h1 Nuevo Usuario

    br
    br

    form(action='/usuarios/create' method='post')
        .form-group
            label(for='name') Nombre:
            input#name.form-control(type='text' name='name' value=usuario.name class=errors.name ? 'is-invalid' : '')
            if errors.name
                small#nameHelp.text-danger
                    = errors.name.message

        .form-group
            label(for='email') Email:
            input#email.form-control(type='text' name='email' value=usuario.email class=errors.email ? 'is-invalid' : '')
            if errors.email
                small#emailHelp.text-danger
                    = errors.email.message

        .form-group
            label(for='password') Password:
            input#password.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
            if errors.password
                small#passwordHelp.text-danger
                    = errors.password.message
                    
        .form-group
            label(for='confirm_password') Confirm password:
            input#confirm_password.form-control(type='confirm_password' name='confirm_password' class= errors.confirm_password ? 'is-invalid' : '')
            if errors.confirm_password
                small#confirm_passwordHelp.text-danger
                    = errors.confirm_password.message
        
        br
        br
        input(type='submit' value='Submit')
